<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <button onclick="showToast('Mensaje!')" class="btn btn-success">Send toast</button>
      <button onclick="messageToServer('Hola servidor')" class="btn btn-success">Contact server</button>
    </div>
  </div>
</main>
