.stop{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    line-height: 15vw;
    font-size: large;
    margin: 0 auto;
    text-align: center;
    background-color: #dc3545;
    color: white;
    border: 1px solid #46181c;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    p{
        vertical-align: middle;
    }
}