Link, a, Link:hover, a:hover{
    text-decoration: none;
    color: inherit;
}
.header{
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.animal-icon{
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    margin-right: 5%;
}